.login-container {
  /* background-color: gray; */
  width: 100vw;
  height: 100vh;
  display: flex;
}

.right-side {
  width: 40%;
  height: 100%;
}

.title {
  /* background-color: red; */
  height: 30%;
  padding-top: 3%;
  padding-left: 5%;
  display: flex;
}

.input {
  /* background-color: gray; */
  padding-left: 5%;
  padding-right: 5%;
  height: 45%;
}

.mb-3 {
  font-weight: bold;
}

.button-container {
  /* background-color: purple; */
  height: 25%;
  display: flex;
  flex-direction: column;
}
