.button {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  vertical-align: middle;
  height: 500px;
  width: 300px;
}

.button:hover {
  background-color: #3f3f3f;
  color: white;
}

.button-black {
  background-color: #e7e7e7; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  vertical-align: middle;
  height: 500px;
  width: 300px;
}

.button-black:hover {
  background-color: #c0c0c0;
  color: black;
}
