/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */

.buttonlogin {
  background-color: #AB84C8;
  /* margin-right: 10px; */
  margin-bottom: 10px;
}

.buttonregister {
  background-color: #AB84C8;
  /* margin-right: 10px; */
  margin-top: 10px;
  margin-bottom: 30px;
}

.dropdownregister {
  background-color: #AB84C8;
  /* margin-right: 10px; */
}

.back-left{
position: absolute;
width: 832px;
height: 1024px;
left: 0px;
top: 0px;
}

.back-left2{
background: linear-gradient(216.6deg, #F1C9EC 1.53%, rgba(255, 255, 255, 0) 81.18%), #AB84C8;
border-radius: 4px;
}




.left {
  left: 0;
  /* background-color: rgb(125, 23, 194); */
  
  /* position: absolute; */
/* width: 832px; */
/* height: 1024px; */
/* top: 0px; */
color: white;

background: linear-gradient(216.6deg, #F1C9EC 1.53%, rgba(255, 255, 255, 0) 81.18%), #AB84C8;
border-radius: 4px;
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(255, 255, 255);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}